   <header>
        <nav>
            <div class="left">
                <div class="heading"><h1>SHOP HERE</h1></div>
                <div class="search-bar">
                    <input type="text" placeholder="🔍︎ search product">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>MEN</li>
                    <li>WOMEN</li>
                    <li>KIDS</li>
                    <li>Wishlist</li>
                    <li>🛒 Cart</li>
                    <li><button>Sign In</button></li>
                </ul>
            </div>
        </nav>
    </header>